<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4><a href="/">Vaerom</a></h4>
        <ul>
          <li><a href="/#products">Productos y servicios</a></li>
          <li><a href="/curso_de_vuelo">Curso de vuelo</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4><a href="/#contact">Contacto</a></h4>
        <ul>
          <li>
            <i class="fa fa-envelope"></i><a class="vaerom-info-email"></a>
          </li>
          <li>
            <i class="fa fa-whatsapp"></i><em class="vaerom-phone"></em>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Redes</h4>
        <ul>
          <li>
           <a href="https://www.facebook.com/vaerom" target="_blank" title="Facebook">
              <i class="fa fa-facebook-official"></i>vaerom
            </a>
          </li>
          <li>
           <a href="https://www.twitter.com/VaeromDrones" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i>VaeromDrones
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCodbDRGBvZ2c2yeX-60T_tA"
               target="_blank" title="Youtube">
              <i class="fa fa-youtube-play"></i>Vaerom
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
