<nav class="navbar navbar-full navbar-dark bg-inverse">
  <div class="container">
    <div class="clearfix hidden-sm-up">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#main-nav">
        &#9776;
      </button>
    </div>

    <div id="main-nav" class="collapse navbar-toggleable-xs">
      <a class="navbar-brand hidden-xs-down" href="/">
        <span class='navbar-brand-box'>
          <img src="/img/vaerom_brand.png" alt="Vaerom">
          <span class="navbar-brand-text">Vaerom</span>
        </span>
      </a>

      <ul class="nav navbar-nav pull-sm-right">
        <li class="nav-item">
          <a class="nav-link" href="/#products">Productos y servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/curso_de_vuelo">Curso de vuelo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact">Contacto</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
