@@include('./partials/_layout_before.html',
    { "action": "home", "title": "Drones industriales" })

<div id="hero" class="jumbotron jumbotron-fluid">
  <div class="container">
    <img id="logo" src="/img/vaerom.png" alt="Vaerom - Drones industriales">
    <a class="btn btn-lg btn-ghost" href="#contact" data-scroll="true">Contacto</a>
  </div>
</div>

<div id="content" class="container">
  <a id="products" class="anchor"></a>
  <section id="factory" class="product-section row">
    <div class="col-md-6 push-md-6">
      <h1>Desarrollo y fabricaci&oacute;n</h1>
      <p>
        Dise&ntilde;amos y construimos multic&oacute;pteros a medida para aplicaciones
        y <strong>necesidades espec&iacute;ficas</strong>.
      </p>
      <p>
        Siendo fabricantes ofrecemos <strong>soporte extendido</strong>,
        reparaciones y el acompa&ntilde;amiento necesario para integrar nuevos equipos
        y tecnolog&iacute;as al flujo de trabajo.
      </p>
      <p><a href="#contact" data-scroll="true">Contacto &raquo;</a></p>
    </div>

    <figure class="col-md-6 pull-md-6">
      <img src="/img/hexacopter.png" class="img-fluid"
        alt="Desarrollo y fabricaci&oacute;n">
    </figure>
  </section>

  <section id="flight_course" class="product-section row">
    <div class="col-md-6">
      <h1>Curso de vuelo</h1>
      <p>
        Introducci&oacute;n completa para aprender a volar VANTs y operar de forma
        segura <strong class="nobr">(clases te&oacute;ricas y pr&aacute;cticas)</strong>
      </p>

      <ul class='course-list'>
        <li>Maniobras b&aacute;sicas (despegue, aterrizaje, desplazamiento, etc.)</li>
        <li>Calibraci&oacute;n y puesta a punto de equipos</li>
        <li>Medidas de seguridad</li>
        <li>Manejo de fallas y contingencias</li>
        <li>Vuelo aplicado y maniobras &uacute;tiles</li>
        <li>
            Reglamentaci&oacute;n vigente sobre VANTs de la
            Administraci&oacute;n Nacional de Aviaci&oacute;n Civil (ANAC)
        </li>
        <li>Normativa sobre Protecci&oacute;n de Datos Personales</li>
      </ul>

      <p><a href="/curso_de_vuelo">Leer m&aacute;s &raquo;</a></p>
    </div>

    <figure class="col-md-6">
      <img src="/img/cuadcopter.jpg" class="img-fluid img-circle" alt="Curso de vuelo">
    </figure>
  </section>

  <section id="filming" class="product-section row">
    <div class="col-md-6 push-md-6">
      <h1>Servicio de filmaci&oacute;n</h1>
      <p>
        Tomas a&eacute;reas y <strong>filmaciones en altura</strong> para acceder de forma
        <strong>r&aacute;pida y segura</strong> a espacios peligrosos o de dif&iacute;cil acceso.
      </p>
      <p><a href="#contact" data-scroll="true">Contacto &raquo;</a></p>
    </div>

    <figure class="col-md-6 pull-md-6">
      <img src="/img/hight_tension_tower.jpg" class="img-fluid img-circle"
        alt="Servicio de filmaci&oacute;n">
    </figure>
  </section>
</div>

<a id="contact" class="anchor-tight"></a>
<ul class="vaerom-social">
  <li>
    <i class="fa fa-envelope"></i>
    <a class="vaerom-info-email" title="Email"></a>
  </li>
  <li>
    <a href="https://www.facebook.com/vaerom" target="_blank" title="Facebook">
      <i class="fa fa-facebook-official"></i>
      <span>vaerom</span>
    </a>
  </li>
  <li>
    <a href="https://www.twitter.com/VaeromDrones" target="_blank" title="Twitter">
      <i class="fa fa-twitter"></i>
      <span>VaeromDrones</span>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCodbDRGBvZ2c2yeX-60T_tA"
       target="_blank" title="Youtube">
      <i class="fa fa-youtube-play"></i>
      <span>Vaerom</span>
    </a>
  </li>
  <li>
    <i class="fa fa-whatsapp"></i>
    <em class="vaerom-phone"></em>
  </li>
</ul>

<div class="contact-form-wrapper jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Hola Vaerom!</h1>

    <p>Escribinos para atender cualquier duda o consulta. </p>

    @@include('_form.html')
  </div>
</div>

@@include('./partials/_layout_after.html')
