@@include('../partials/_layout_before.html',
    { "action": "flightCourse", "title": "Curso de vuelo de VANTs" })

<div class="course-hero jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="course-hero-title">Curso de vuelo</h1>
    <p class="course-hero-desc">
      Introducci&oacute;n completa<br>
      al vuelo de VANTs
    </p>
    <a class="btn btn-ghost course-hero-btn" href="#postulation" data-scroll="true">
      Inscribirme
    </a>
  </div>
</div>

<div class="container">
  <a id="learn_to_fly" class="anchor"></a>
  <section class="course-section">
    <h2>Aprend&eacute; a volar</h2>
    <p>
      El curso abarca todo lo necesario para operar
      <strong>Veh&iacute;culos A&eacute;reos No Tripulados (VANTs)</strong> de forma
      correcta y segura en cumplimiento de la reglamentaci&oacute;n vigente.
    </p>
    <p>
      A lo largo de <strong>clases te&oacute;ricas y pr&aacute;cticas</strong> (los alumnos
      operan multic&oacute;pteros) se desarrollan los conocimientos, habilidades y buenas
      pr&aacute;cticas necesarias para operar VANTs en &aacute;mbitos profesionales, laborales
      y recreativos.
    </p>
  </section>

  <a id="course_target" class="anchor"></a>
  <section class="course-section">
    <h2>¿A qui&eacute;n va dirigido?</h2>
    <p>
      Profesionales, t&eacute;cnicos e ingenieros relacionados al transporte el&eacute;ctrico,
      agricultura, agrimensura, construcci&oacute;n o miner&iacute;a. Operarios de gr&uacute;as y
      maquinaria pesada, personal de mantenimiento, escaladores y rescatistas.
      Fot&oacute;grafos, aficionados, hobbistas, principiantes y propietarios o futuros
      propietarios de multic&oacute;pteros (drones) en general.
    </p>
  </section>

  <a id="course_content" class="anchor"></a>
  <section class="course-section">
    <h2>Contenido</h2>

    <div class="row">
      <div class="col-md-9">
        <ul class="course-list">
          <li>Maniobras b&aacute;sicas (despegue, aterrizaje, desplazamiento, etc.)</li>
          <li>Calibraci&oacute;n y puesta a punto de equipos</li>
          <li>Medidas de seguridad</li>
          <li>Manejo de fallas y contingencias</li>
          <li>Vuelo aplicado y maniobras &uacute;tiles</li>
          <li>
            Reglamentaci&oacute;n vigente sobre VANTs de la
            Administraci&oacute;n Nacional de Aviaci&oacute;n Civil (ANAC)
          </li>
          <li>Normativa sobre Protecci&oacute;n de Datos Personales</li>
        </ul>
      </div>

      <figure class="course-safety-sign col-md-3">
        <img src="/img/drone_safety.png" class="img-fluid" alt="Vuelo seguro de VANTs">
      </figure>
    </div>
  </section>

  <a id="course_requirements" class="anchor"></a>
  <section class="course-section">
    <h2>Requisitos</h2>

    <dl class="course-list">
      <dt>Equipo</dt>
      <dd>
        Ning&uacute;n requisito. Incluimos nuestros multic&oacute;pteros y todo
        lo necesario para que puedas aprender y desarrollar el curso.
      </dd>

      <dt>Tengo mi propio multic&oacute;ptero (drone), ¿puedo usarlo en el curso?</dt>
      <dd>
        Si. Si ten&eacute;s un multic&oacute;ptero y quer&eacute;s aprender a volarlo o mejorar tus
        habilidades pod&eacute;s realizar el curso con el mismo. No te olvides de traerlo
        en condiciones, cargar bater&iacute;as al 100% y traer el radio control con pilas.
      </dd>

      <dt>Edad</dt>
      <dd>Ser mayor de edad o mayor de 16 a&ntilde;os acompa&ntilde;ado por un adulto responsable.</dd>
    </dl>
  </section>

  <a id="course_details" class="anchor"></a>
  <section id="course_details" class="course-section">
    <h2>Detalle del curso</h2>

    <div class="course-detail-inline">
      <h6>Duraci&oacute;n:</h6> 10 horas c&aacute;tedra divididas en 4 clases.
    </div>

    <div class="course-detail-inline">
      <h6>Costo total:</h6> $850.
      <p>
        Ven&iacute; con un amigo y los dos se llevan un
        <strong class="highlight">10% de descuento!</strong><br>
        Más info en
        <a href="#inscription_process" data-scroll="true">inscripci&oacute;n y pago</a>.
      </p>
    </div>

    <div class='course-detail'>
      <h6>Cronograma:</h6>

      <table class="course-schedule">
        <thead>
          <tr>
            <th><strong>Teor&iacute;a</strong> (Viernes)</th>
            <th><strong>Pr&aacute;ctica</strong> (S&aacute;bado)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <i class="fa fa-calendar"></i> 21 de Abril<br>
              <i class="fa fa-clock-o"></i> <time>17:30hs</time><br>
            </td>
            <td>
              <i class="fa fa-calendar"></i> 22 de Abril<br>
              <i class="fa fa-clock-o"></i> <time>9hs o 10:30hs</time><br>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-calendar"></i> 28 de Abril<br>
              <i class="fa fa-clock-o"></i> <time>17:30hs</time><br>
            </td>
            <td>
              <i class="fa fa-calendar"></i> 29 de Abril<br>
              <i class="fa fa-clock-o"></i> <time>9hs o 10:30hs</time><br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='course-detail'>
      <h6>Condiciones clim&aacute;ticas</h6>
      <p>
        En caso de <strong>lluvia</strong>, <strong>Zonda</strong> o
        <strong>vientos de alta intensidad</strong> se suspenden las
        clases pr&aacute;cticas por cuestiones de seguridad. En tal caso se
        recuperar&aacute; la clase el s&aacute;bado siguiente.
      </p>

      <p>
        Toda suspensión de clases será notificada a través de nuestra cuenta de Twitter
        (<a href="https://www.twitter.com/VaeromDrones" target="_blank">@VaeromDrones</a>)
        y por email a cada inscripto.
      </p>

      <p>
        También estaremos disponibles para consultas a través de
        <em class="vaerom-phone"><i class="fa fa-whatsapp" style="margin-right: 2px"></i></em>
        o <a class="vaerom-info-email"></a>.
      </p>
    </div>

    <div class='course-detail'>
      <h6>Ubicaci&oacute;n</h6>
      <p>
        Padre Contreras 1300, Parque General San Mart&iacute;n, Mendoza.<br>
        Espacio de Ciencia y Tecnolog&iacute;a UNCuyo, edificio 2, aula 306.
      </p>

      <div class="course-map embed-responsive embed-responsive-21by9">
        <iframe width="600" height="450" allowfullscreen
          src="http://maps.google.com/maps?output=embed&z=16&hl=es&q=UNCUYO:+Espacio+de+la+Ciencia+y+la+Tecnolog&iacute;a">
        </iframe>
      </div>
    </div>
  </section>

  <a id="inscription_process" class="anchor"></a>
  <section class="course-section">
    <h2>Inscripci&oacute;n y pago</h2>
    <p>La inscripci&oacute;n al curso comprende dos pasos:</p>

    <ol class="course-list">
      <li>
        <strong>Postulaci&oacute;n:</strong>
        <p>
          El &uacute;nico requisito es llenar el
          <a href="#postulation" data-scroll="true">formulario de postulaci&oacute;n</a>
          al final de la p&aacute;gina. Una vez hecho esto recibir&aacute;s un correo
          electr&oacute;nico con la informaci&oacute;n de pago o la opci&oacute;n de postular a una
          pr&oacute;xima instancia del curso si el cupo est&aacute; completo.
        </p>
      </li>

      <li>
        <strong>Pago:</strong>
        <p>
          Por el momento s&oacute;lo se reciben pagos por transferencia bancaria. La
          informaci&oacute;n de pago ser&aacute; enviada por correo electr&oacute;nico una vez completado
          el <a href="#postulation" data-scroll="true">formulario de postulaci&oacute;n</a>.
        </p>

        <p>
          Para acreditar el pago y quedar definitivamente inscripto se
          deber&aacute; enviar el comprobante de dep&oacute;sito (archivo, escaneo o foto)
          a <a class="vaerom-courses-email"></a> junto con el
          <strong>nombre y apellido del participante</strong>.
        </p>
      </li>
    </ol>

    <p>
      <strong>¿C&oacute;mo me inscribo con un amigo para recibir el descuento?</strong><br>
      Muy simple! Ambos deben completar el
      <a href="#postulation" data-scroll="true">formulario de postulaci&oacute;n</a>,
      luego s&oacute;lo uno de los dos debe realizar el pago conjunto y enviar el
      comprobante aclarando el nombre completo de ambos.
    </p>
  </section>

  <a id="companies" class="anchor"></a>
  <section class="course-section">
    <h2>Cursos para instituciones o compa&ntilde;ias</h2>
    <p>
      Para capacitaciones de personal, equipos o grupos se pueden coordinar
      cursos cerrados escribiendo a <a class="vaerom-courses-email"></a>.
    </p>
  </section>

  <a id="help" class="anchor"></a>
  <section class="course-section">
    <h2>Ayuda y consultas</h2>
    <p>
      Para m&aacute;s informaci&oacute;n, atender dudas o resolver cualquier inconveniente
      escribinos a <a class="vaerom-courses-email"></a>, estamos disponibles
      para ayudarte en lo que necesites.
    </p>
  </section>
</div>

<a id="postulation" class="anchor-tight"></a>
<div class="postulation-form-wrapper">
  <div class="container">
    <h1>Postulaci&oacute;n al curso</h1>

    <p>
      Este formulario es <strong>s&oacute;lo de postulaci&oacute;n</strong>.
      Los cupos son limitados y se considerar&aacute; inscriptos a los
      participantes s&oacute;lo una vez acreditado el pago.
      <span class="nobr">
        M&aacute;s sobre
        <a href="#inscription_process" data-scroll="true">inscripci&oacute;n y pago</a>.
      </span>
    </p>

    @@include('./_form.html')
  </div>
</div>

<div class="course-sponsors">
  <div class="container">
    <p class="course-sponsors-txt">
      Organiza <strong>Vaerom</strong> con el apoyo y auspicio de <strong>SDyT UNCuyo</strong>.
    </p>

    <div class="course-sponsors-logo-wrapper">
      <img src="/img/vaerom_logo.png" class="course-sponsors-logo"
        alt="Vaerom - Drones industriales">

      <img src="/img/sdyt_logo.png" class="course-sponsors-logo"
        alt="Secretar&iacute;a de Desarrollo Institucional y Territorial
        de la Universidad Nacional de Cuyo">
    </div>
  </div>
</div>

@@include('../partials/_layout_after.html')
