body {
  padding-bottom: 80px;
  color: #888;
}

@media (min-width: 34em) {     /* Small devices */
  body { padding-top: 60px; }  /* Fixed navbar */
}

section {
  margin-top: -120px;
  margin-bottom: 60px;
  padding-top: 120px;
}

section h1 { margin-bottom: 20px; }

@media (min-width: 62em) {  /* Large devices */
  section { margin-bottom: 80px; }
}

figure {
  padding: 0;
  margin: 0;
}



/* Navbar
 * ====== */

/* Fix navbar avobe small */
@media (min-width: 34em) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.navbar-brand {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-brand-box {
  display: block;
  overflow: hidden;
  height: 32px;
  padding-top: 32px;
}

.navbar-brand-box * {
  float: left;
}

.navbar-brand img {
  display: inline;
  opacity: 0.8;
}

.navbar-brand:hover img {
  opacity: 1;
}

.navbar-brand-text {
  color: rgba(255,255,255,.5);
}

.navbar-brand:hover .navbar-brand-text {
  color: rgba(255,255,255,.75);
}

@media (max-width: 33.9em) {
  .navbar .navbar-nav .nav-item {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}



/* Hero
 * ==== */

#hero {
  margin-bottom: 40px;
  background-color: #a1bdd6;
  background-image: url("../img/mendoza_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-align: center;
  padding: 3rem 2rem;
}

@media (min-width: 48em) {  /* Medium devices */
  #hero {
    margin-bottom: 80px;
    padding: 4rem 2rem;
  }
}

#logo {
  display: block;
  width: 100%;
  margin: 30px auto 60px auto;
}

@media (min-width: 34em) {  /* Small devices */
  #logo {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media (min-width: 48em) {  /* Medium devices */
  #logo { width: 50%; }
}

@media (min-width: 62em) {  /* Large devices */
  #logo { margin-bottom: 120px; }
}

.btn-ghost {
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 8px 20px;
}

.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active {
  background: transparent;
  background: rgba(55, 55, 200, 0.1);
  border-color: #c83737;
  color: #c83737;
}



/* About
 * ===== */

.about-body {
  line-height: 1.5em;
  margin-bottom: 40px;
}

.about-pic {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 48em) {  /* Medium devices */
  .about-body { font-size: 1.2em; }
  .about-pic {
    margin: 0;
    width: 90%;
  }
}

@media (min-width: 62em) {  /* Large devices */
  .about-body { font-size: 1.5em; }
  .about-pic { width: 80%; }
}



/* Team
 * ==== */

.avatar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar-pic {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 48em) {  /* Medium devices */
  .avatar-pic {
    max-width: 80%;
  }
}

.avatar-caption {
  margin-top: 20px;
  text-align: center;
}

.avatar-caption em {
  font-weight: bold;
  font-size: 1.2em;
}



/* Contact
 * ======= */

.contact-list {
  padding: 0;
  list-style: none;
}

.contact-list li {
  float: left;
  margin-right: 2em;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

.contact-list a, .contact-list a:hover, .contact-list a:active {
  color: #555;
}

.contact-list .fa-whatsapp {
  font-size: 1.2em;
}

.contact-teaser {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.contact-form {
  margin-top: 10px;
}

.contact-form .alert {
  display: none;
}

.contact-form label {
  padding: 0.375rem .9375rem;
  font-weight: bold;
  color: #555;
}

.required label:after {
  content: "\2055";
  display: inline-block;
  margin-left: 3px;
  color: #a94442;
}
